<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>編集</title>
</head>

 <header class="bg-primary text-center py-5 mb-4">
  <div class="container-fluid">
  <br><br>
    <h1 class="font-weight-light text-white">Edit</h1>
  </div>
</header>

<meta charset="UTF-8"></meta>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/profile">Profile List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" th:href="@{'/profile/detail/'+${profile.id}}">Back</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>

          <div class="card-body">
            <h5 class="card-title text-center">変更する項目を入力してください</h5>
            <form method="post" action="/profile/edit" th:object=${profile}  class="form-signin">

              ID : [[${profile.id}]]
              <input type="hidden" class="form-control" th:field="*{id}"/>
              <div class="form-label-group">
                <input type="text" id="inputUserame" class="form-control" placeholder="Name"th:field="*{name}" required autofocus>
              </div>

              <hr>

              <div class="form-label-group">
                <input type="text" id="inputAppealingPoint" class="form-control" placeholder="AppealingPoint" th:field="*{appealingPoint}" required>
              </div>
              <br>
              <div class="form-label-group">
                <input type="text" id="inputDuties" class="form-control" placeholder="Duties" th:field="*{duties}" required>
              </div>
              <br>
              <div class="form-label-group">
                <input type="text" id="inputChallenge" class="form-control" placeholder="Challenge" th:field="*{challenge}" required>
              </div>
              <br>
              <div class="form-label-group">
                <input type="text" id="inputWorkHistory" class="form-control" placeholder="WorkHistory" th:field="*{workHistory}" required>
              </div>

              <hr>

              <div class="form-label-group">
                <input type="text" id="inputSkill" class="form-control" placeholder="Skill" th:field="*{skill}" required>
              </div>
              <br>
              <div class="form-label-group">
                <input type="text" id="inputHobby" class="form-control" placeholder="Hobby" th:field="*{hobby}" required>
              </div>
              <br>
              <div class="form-label-group">
                <input type="text" id="inputUrl" class="form-control" placeholder="Url" th:field="*{url}" required>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Done</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>